{% extends 'shop/base.html'%}

{% block title %} {{'Remove Product'}} {% endblock title %}

{% block css %}
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'shop/body.css'%}">
{% endblock %}


{% block content %}
  <div>
    <h2 id="header"> Remove Product </h2>
    <p id="descriptionParagraph">
        Remove a product from inventory
    </p>
  </div>

  <div class="justify-content-center row no-gutters">
    <form action="{% url 'shop:RemoveProduct'%}" method="post">
      <div class="d-inline-flex flex-column">
        {% csrf_token %}

        <div class="inline-flex inputBox">
          <label for="name">Product Name: </label>
          <input id="name" type="text" name="name" maxlength="40">
        </div>

        <br>
          <input type="submit" name="remove" value="Remove">
      </div>
    </form>
  </div>
{% endblock content %}
